.intro-text {
  font-size: 2em;
}

.text-center {
  text-align: center;
  background-color: #1592a9;
  padding-top: 5px;
  height: 140px;
  width: 100%;
  font-size: 1.2em;
}

.container {
  height: 100%;
  width: 80%;
  margin: 0px;
  padding: 0px;
}


.invent-label {
  font-size: 1.4em;
  color: black;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.2em;
  text-align: center;
  padding-top: 20px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
  text-shadow: 1px 2px 1px #1592a9;
}

.categories-cont {
  width: 100%;
  background-color: #1592a9;
  font-size: 1.2em;
}

.categories-cont h3 {
  font-size: 1.6em;
  padding-bottom: 20px;
}

input[type='text']{
  padding:4px;
  width:170px;
  margin-top: 5px;
  height:40px;
  border-radius:5px;
  border:#ccc solid 1px;
}

input[type="radio"]{
  margin-left: 8px;
}


/*input.radio-buttons {
  margin-left: 8px;
  /*padding: 10px;*/


.submit-button{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.4em;
  border-radius: 8px;
  margin-bottom: 20px;
}

.done-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.4em;
  border-radius: 8px;
  margin-bottom: 20px;
}

.inventTable {
    width: 100%;
    font-size: 18px;
    padding-left: 20px;
}

.table-inv {
  border: 2px solid #1592a9;
}


form div{
  margin-bottom:25px;
  line-height:2.2em;
}

